@page
@model RazorPages.Pages.Reservations.Get

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">TableId</th>
        <th scope="col">CustomerId</th>
        <th scope="col">Reservation Date</th>
    </tr>
    </thead>
    <tbody>
    @{
        var count = 1;
    }
    @foreach (var res in Model.getReservation)
    {
        <tr>
            <th scope="row">@(count++)</th>
            <td>@res.TableId</td>
            <td>@res.CustomerId</td>
            <td>@res.ReservationDate</td>
        </tr>
    }
    </tbody>
</table>